@using Microsoft.AspNet.Identity


<ul class="nav navbar-nav navbar-left">
    @{
        if ((Session["gonulluAdi"] == null) && (Session["yardimalanAdi"] == null))
        {
        }
        else if(Session["gonulluAdi"] != null)
        {
            <li>@Html.ActionLink("Urun Ekle","UrunEkleme","UrunEkleme")</li>
            <li>@Html.ActionLink("Urunleri Gor", "urunGoruntule","UrunEkleme")</li>
            @*<li>@Html.ActionLink("Mesajlasma","Mesajlasma","Home")</li>*@
        }
        else if(Session["yardimalanAdi"] != null)
        {
            <li>@Html.ActionLink("Urunleri Gor","urunGoruntule","UrunEkleme")</li>
            @*<li>@Html.ActionLink("Mesajlasma","Mesajlasma","Home")</li>*@
        }

    }
</ul>
<ul class="nav navbar-nav navbar-right">

    @{
        if ((Session["gonulluAdi"] == null) && (Session["yardimalanAdi"] == null))
        {
            <li>@Html.ActionLink("Kayit Ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Giris Yap", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        }
        else if (Session["gonulluAdi"] != null)
        {
            <li><a href="#">@Session["gonulluAdi"]</a></li>
            <li>@Html.ActionLink("Cikis Yap", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
        else if (Session["yardimalanAdi"] != null)
        {
            <li><a href="#">@Session["yardimalanAdi"]</a></li>
            <li>@Html.ActionLink("Cikis Yap", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
    }
</ul>

