
@{
    ViewBag.Title = "urunGoruntuleForYardimAlan";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>urun Goruntule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    @{ var icerik = ViewBag.yorumIcerikkk;
        var yardimAlanAdi = ViewBag.yardimAdi;
        var gonulluAdi = ViewBag.gonulluAdi;
        var kId = 0;
        <p hidden>@yardimAlanAdi</p>
        <p hidden>@gonulluAdi</p>
        projectPaylasimEntities6 db = new projectPaylasimEntities6();
        foreach (user user in ViewBag.kullaniciListesi)
        {
            if (yardimAlanAdi == user.userKullaniciAdi || gonulluAdi == user.userKullaniciAdi)
            {
                kId = user.userId;
            }
        }
    }

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="left:-15px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center> <h4 class="modal-title" id="urunADI">URUN DETAYLARI</h4></center>
                </div>
                <div class="modal-body">
                    <center><img src="sss" id="xcvb" width="50%" height="auto" max-width="120px" max-height="400px"></center>
                    <br />
                    <table class="table" border="1">
                        <tr>
                            <th>YORUMLAR</th>
                            <th>YORUM TARIHI</th>
                            <th>YORUM SAHIBI</th>
                        </tr>
                        <tr>
                            <td>
                                <div id="xyz"></div>
                            </td>
                            <td>
                                <p id="yorumYapilmaTarihi"></p>
                            </td>
                            <td>
                                <p id="yorumYapanKisiAdi"></p>
                            </td>

                        </tr>

                        <tr hidden>
                            <td><p id="urunIdd" hidden></p></td>
                            <td><p id="kidd" hidden>@kId</p></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="text" id="yorumIcerik" name="yorumIcerigi" placeholder="yorum icerigi" />
                    <button type="button" class="btn btn-default" onclick="yorumuEkle()">Yorum Ekle</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <h2>URUNLERI GORUNTULE</h2>
    <table class="table">
        <tr>
            <th>URUN ADI</th>
            <th>URUN DETAY</th>
           
            <th>URUN SAHIBI</th>
            <th>URUN RESMI</th>
            <th>MESAJLASMA</th>
            <th>URUNU REZERV ET</th>
        </tr>
        @foreach (urun u in ViewBag.urunListesi)
        {
            if (u.urunDurumu == "1")
            {
            <tr>
                @{
                    //   var yorumm = u.yorum.ToList();
                    var yorumm = u.yorums.ToList();
                    string yorumicerik = "Yorum Yok";
                    string yorumSahibi = "isimsiz";
                    int yorumYapan = 0;
                    DateTime yorum_tarihi = DateTime.Now;
                    string tarih = yorum_tarihi.ToLongDateString();

//                    int gonullu_ID = 0;
  //                  int yardimAlan_ID = 0;
                    int girisYapmisUserId = 0;
                    string girisYapmisUserAdi = string.Empty;
                    if (ViewBag.yardimAdi != null)
                    {
                        // yardimAlan_ID = ViewBag.yardimAlanID;
                        girisYapmisUserId = ViewBag.yardimAlanID;
                    }
                    else if (ViewBag.gonulluAdi != null)
                    {
                        // gonullu_ID = ViewBag.gonulluID;
                        girisYapmisUserId = ViewBag.gonulluID;
                    }

                    string yorumlarListesi = string.Empty;
                    string yorumTarihleriListesi = string.Empty;
                    string yorumSahipleriListesi = string.Empty;
                    foreach (yorum y in yorumm)
                    {
                        yorumicerik = y.yorumIcerik;
                        yorumlarListesi += "<p>" + yorumicerik + "</p>";
                        yorumYapan = y.userId;
                        yorumSahibi = y.user.userAdi;
                        yorumSahipleriListesi += "<p>" + yorumSahibi + "</p>";
                        tarih = y.yorumTarihi.ToString();
                        yorumTarihleriListesi += "<p>" + tarih + "</p>";

                    }
                }

                <td>@u.urunAdi</td>
                <td>@u.urunBilgisi</td>
              
                @{string urunYolu = u.urunPath;

                }

                @foreach (user us in db.users)
                {
                    if (us.userId == @u.ekleyenUserId)
                    {
                        <td>@us.userAdi</td>
                    }
                }

                @foreach(user user in db.users)
                {
                    if(user.userId == girisYapmisUserId)
                    {
                        girisYapmisUserAdi = user.userAdi;
                    }
                }
                <td>
                    <button type="button" class="btn btn-info btn-default" data-urunId="@u.urunId" data-img="/images/@urunYolu" data-urunAdi="@u.urunAdi" data-yorumTarihi="@yorumTarihleriListesi" data-userID="@yorumYapan" data-userADI="@yorumSahipleriListesi" data-comment="@yorumlarListesi" data-toggle="modal">Resmi Gor</button>
                </td>
                <td>@Html.ActionLink("Mesaj At", "Mesajlasma", "Home", new { urunSahibiId = @u.ekleyenUserId }, null)</td>

                <td>@Html.ActionLink("Rezerv Et","ListeyeEkle","Home", new { urunSahibiId = @u.ekleyenUserId, urunId = @u.urunId, urunAdi = @u.urunAdi, yardimAlanId = girisYapmisUserId, yardimAlanAd = girisYapmisUserAdi }, null)</td>

            </tr>
               }
                    }
    </table>

    <script>
        function yorumEkleme() {
            alert("merhaba bu deneme butonu");
        }
        function yorumuEkle() {
            var yorumIcerik = $("#yorumIcerik").val();
            var urunid = $("#urunIdd").text();
            var kullaniciID = $("#kidd").text();
            $.post("../UrunEkleme/urunYorumEkle1", { yorumm: yorumIcerik, kid: kullaniciID, id: urunid }, function (data) {
                alert("Yorum Eklendi");
            });
        }
        $(document).ready(function () {
            $(".btn").click(function () {
                //xcvb id li olana data-img verilir
                $("#xcvb").attr("src", $(this).attr("data-img"));
                $("#xyz").html($(this).attr("data-comment"));
                $("#urunADI").html($(this).attr("data-urunAdi"));
                $("#yorumYapilmaTarihi").html($(this).attr("data-yorumTarihi"));
                $("#urunIdd").html($(this).attr("data-urunId"));
                $("#yorumYapanKisiAdi").html($(this).attr("data-userADI"));
                $("#myModal").modal("toggle");
            });
            /*
            $('tr').click(function () {
                 var b = $(this).find("td:nth-child(5)").find("a").attr("href");
                $("#xcvb").attr("src", b);
                var c = $(this).find("td:nth-child(2)").text();
                $("#xyz").text(c);

            });*/
        });


    </script>
</body>
</html>