
@{
    ViewBag.Title = "GelenKutusu";
}

<h2>GelenKutusu</h2>

@{
    ViewBag.Title = "Gelen Kutusu";
}

<!DOCTYPE HTML>
<html>
<head>

    <style type="text/css">
        .tab-links li {
            background-color: #f5eeee;
            float: left;
            display: inline-block;
            height: 30px;
            border-style: inset;
        }

        .tab-links .activetab {
            background-color: #8c8c8c;
            float: left;
            display: inline-block;
            height: 30px;
            color: #000;
        }

        .tab-links li a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            font-weight: 300;
            font-size: 16px;
            padding-right: 15px;
            padding-left: 15px;
            line-height: 30px;
        }
    </style>
</head>
<body>

    <ul class="tab-links">
        <li class="activetab"><a href="#tab1" onclick="gelenKutusu()">Gelen Kutusu</a></li>
        <li><a href="#tab2" onclick="gonderilenKutusu()">Gonderilen Kutusu</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <table class="table">
                <tr>
                    <th>Gonderen</th>
                    <th>Gonderilen</th>
                    <th>Gonderilme Tarihi</th>
                </tr>

                @{ projectPaylasimEntities6 db = new projectPaylasimEntities6();
            foreach (mesajlar mesaj in db.mesajlars.ToList())
            {
                if (mesaj.gonderilenId == ViewBag.girisYapmisUserId)
                {
                            <tr>
                                @foreach (user us in db.users)
                    {
                        if (us.userId == mesaj.gonderenId)
                        {
                                        <td>@us.userAdi</td>
                                    }
                                    if (us.userId == mesaj.gonderilenId)
                                    {
                                        <td>@us.userAdi</td>
                                    }
                                }
                                <td>@mesaj.gonderilmeTarihi</td>

                                <td>@Html.ActionLink("Mesaji Gor", "Mesajlasma1", "Home", new { gonderenID = @mesaj.gonderenId }, null)</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>

        <div id="tab2" class="tab">

        </div>
    </div>


    <script>
        jQuery(document).ready(function () {
            jQuery('.tabs .tab-links a').on('click', function (e) {
                var currentAttrValue = jQuery(this).attr('href');
                jQuery('.tabs ' + currentAttrValue).show().siblings().hide();
                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
                e.preventDefault();
            });
        });

        function gelenKutusu() {
            window.location.replace("/Home/GelenKutusu");
        }

        function gonderilenKutusu() {
            window.location.replace("/Home/GonderilenKutusu");
        }
    </script>
</body>

</html>
