
@{
    ViewBag.Title = "Mesaj Detaylari";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h4>@ViewBag.deneme</h4>
    @{ var gonderen = @Request["gonderenID"];
    }

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="left:-15px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center> <h4 class="modal-title" id="urunADI">MESAJ GONDER</h4></center>
                </div>
                <div class="modal-body">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post" action="../Home/mesajiGonderme">
                            <fieldset>
                                <input id="sender" name="kimden" type="hidden" value="@ViewBag.girisYapmisUserId" class="form-control">
                                <input id="receiver" name="kime" type="hidden" value="@ViewBag.gonderen" class="form-control">
                                <label class="col-md-3 control-label" for="subject">Konu</label>
                                <input id="mesajKonusu" name="mesajKonusu" type="text" placeholder="Konu" class="form-control">
                                <br />
                                <label class="col-md-3 control-label" for="message">Mesaj</label>
                                <textarea class="form-control" id="mesajIcerik" name="mesajIcerik" rows="5"></textarea>
                                <button type="submit" class="btn btn-primary btn-lg"><center>Gonder</center></button>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>KIMDEN</th>
            <th>KONU</th>
            <th>MESAJ ICERIGI</th>
        </tr>
        <tr>

            @{ projectPaylasimEntities6 db = new projectPaylasimEntities6();

                foreach (mesajlar mesaj in db.mesajlars.ToList())
                {
                    if (((mesaj.gonderilenId == ViewBag.girisYapmisUserId) && (mesaj.gonderenId == ViewBag.gonderen)) || ((mesaj.gonderenId == ViewBag.girisYapmisUserId) && (mesaj.gonderilenId == ViewBag.gonderen)))
                    {
                    <tr>
                        @foreach (user us in db.users)
                    {
                        if (us.userId == mesaj.gonderenId)
                        {
                                <td>@us.userAdi</td>
                            }

                        }
                        <td>@mesaj.mesajKonusu</td>
                        <td id="icerik">@mesaj.mesajIcerik</td>

                        @if (mesaj.gonderenId != 3)
                        {
                            <td>
                                <button type="button" class="btn btn-info btn-default" data-toggle="modal" data-gonderen="@ViewBag.girisYapmisUserId" data-gonderilcekKisi="@mesaj.gonderenId" data-target="#myModal">Cevapla</button>
                            </td>
                        }
                        else if (mesaj.gonderenId == 3)
                        {
                            <td>
                                <button type="button" class="btn btn-info btn-default" data-onclick="onaylama()">Onayla</button>
                                <button type="button" class="btn btn-danger" data-icerik="@mesaj.mesajIcerik" onclick="reddet()">Reddet</button>
                            </td>
                        }
                    </tr>
                    }
                }
            }
        </table>


        <script>
            $(document).ready(function () {
                $(".btn").click(function () {
                    $("#icerik").html($(this).attr("data-icerik"));
                    $("#myModal").modal("toggle");
                });
            });


            function onaylama() {
                alert("Onaylandi");
            }
            function reddet() {
                var kaynak = $("#icerik").text();
                var sol = "kullanici";
                var sag = "idye";
                $.post("../Home/Reddetme", {source : kaynak, leftWord: sol, rightWord: sag }, function (data) {
                    alert(data);
                });
            }
        </script>
    </body>
</html>
